* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Calibri", "Arial", sans-serif;
}

header {
    min-height: 120px;
}
header h1 {
    color: #ff5f34;
    margin-bottom: 0;
}

footer {
    color: #000000;
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 50px;
}

section:first-child {
    min-height: 500px;
    padding: 20px 0;
}

ul, ol, p {
    line-height: 1.5;
}

a {
    color: black;
    font-weight: bold;
}

/* Refine Bootstrap CSS*/
.btn {
    margin-top: 0;
}

/* Unit Function CSS*/
.nounderline {
    text-decoration: none;
}
.nounderline:hover {
    text-decoration: none;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}

.displayFlex {
    display: flex;
}
