<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeingFoodie.com | UMSI Fall 2017 (si539)</title>

    <!-- Stylesheets Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Stylesheets Customized -->
    <link rel="stylesheet" href="{{ paths.static }}/css/reset.css">
    <link rel="stylesheet" href="{{ paths.static }}/css/main.css">

    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1>Being Foodie</h1>
            <p>Browse through cultural recipes from around the world</p>
        </div>
    </header>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>Copyright &copy; 2017 Team Foodies</p>
        </div>
    </footer>

    <!-- Scripts: -->
    <!-- Load all libraries first here... -->
    <script type="text/javascript" src="{{ paths.static }}/js/lib/firebase-app.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/lib/firebase-auth.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/lib/firebase-database.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/lib/jquery.slim.min.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/lib/jquery.tmpl.min.js"></script>

    <!-- Now load custom scripts here... -->
    <!-- Backend scripts: -->
    <script type="text/javascript" src="{{ paths.static }}/js/backend/templates/log-string.tmpl.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/schemas/user.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/schemas/recipe.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/schemas/comment.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/_logger.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/_dbconfig.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/_init.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/_util.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/db-ops.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/auth-ops.js"></script>
    <script type="text/javascript" src="{{ paths.static }}/js/backend/api.js"></script>

    <!-- Frontend scripts: -->
    <!-- Add here...-->
    <script type="text/javascript" src="{{ paths.static }}/js/test.js"></script>
</body>
</html>