{% extends "_layout.html" %}


{% block content %}
<div class="container space-from-top">
    <div class="row margin-bottom-50">
        <div class="col-md-offset-0 col-md-10">
            <h1>Team Foodie</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/jiewei.jpg" class="avatar" alt="Site Creator, Jie-Wei Wu">
            <h3>Jie-Wei</h3>
        </div>
         <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/navdeep.jpg" class="avatar" alt="Site Creator, Navdeep Bagga">
            <h3>Navdeep</h3>
        </div>
        <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/katherine.jpg" class="avatar" alt="Site Creator, Katherine Bruce">
            <h3>Katherine</h3>
        </div>
        <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/russel.jpg" class="avatar" alt="Russel Peterson">
            <h3>Russel</h3>
        </div>
    </div>
</div>
{% endblock %}

{% block jsscript %}
<script type="text/javascript"></script>
{% endblock %}
