{% extends "_layout.html" %}


{% block content %}
<div class="container space-from-top">
    <div class="row margin-bottom-50">
        <div class="col-md-offset-0 col-md-10">
            <h1>Team Foodie</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/jiewei.jpg" class="avatar" alt="Site Creator, Jie-Wei Wu" tabindex="0">
            <h2>Jie-Wei</h2>
        </div>
         <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/navdeep.jpg" class="avatar" alt="Site Creator, Navdeep Bagga" tabindex="0">
            <h2>Navdeep</h2>
        </div>
        <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/katherine.jpg" class="avatar" alt="Site Creator, Katherine Bruce" tabindex="0">
            <h2>Katherine</h2>
        </div>
        <div class="col-md-offset-0 col-md-3">
            <img src="{{paths.static}}/img/russel.jpg" class="avatar" alt="Russel Peterson" tabindex="0">
            <h2>Russel</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block jsscript %}
<script type="text/javascript"></script>
{% endblock %}
