{% extends "_layout.html" %}

{% block content %}
<header class="masthead text-white text-center margin-bottom-50">
      <div class="overlay"></div>
      <div class="container landing">
        <div class="row">
          <div class="col-xl-9 mx-auto margin-bottom-50">
            <h1 class="mb-5 landing-title">Foodie: Explore Foodie Recipes!</h1>
          </div>
          <div class="col-xl-9 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-md-offset-5 col-12 col-md-2">
                  <button type="button" class="btn btn-block btn-lg btn-warning" data-toggle="modal" data-target="#registerModal"> Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

<div id="container" class="container"></div>

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">New User Sign up!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form id="signupForm" action="none" method="POST" data-target="register-user-btn">
                <div class="input-group margin-bottom-10">
                    <input id="register-username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group margin-bottom-10">
                    <input id="register-email" type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <input id="register-password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <input type="submit" style="display: none" />
                <p id="signupServerResp" style="color: red; margin-top: 7px"></p>
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" id="register-user-btn">Register</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jsscript %}
    <script type="text/javascript">
        ((function() {
            var $err = $( "#signupServerResp" );
            var $username = $( "#register-username" );
            var $email = $( "#register-email" );
            var $password = $( "#register-password" );

            $('#register-user-btn').click(function() {
                let username = $username.val();
                let email = $email.val();
                let password = $password.val();
                let isValid  = !!username && !!email && !!password;

                if( !isValid ) {
                    $err.text( "Please provide all the form entries :)" )
                    return;
                }

                $err.text( "Creating your account..." ).css({ color: "#333" });

                window.BACKEND_API.users.signup( username, email, password )
                    .then( function( resp ) {
                        // Refresh the page:
                        window.location.reload();
                    });
            });

            $( "[data-dismiss=modal]" ).on( "click", function( e ) {
                $username.val( "" );
                $email.val( "" );
                $password.val( "" );
                $err.text( "" );
            });
        })());
    </script>

    <script type="text/javascript">
        window.BACKEND_API.recipes.getAll()
        .then(function(dataValue) {
            let indices = Object.keys(dataValue);

            let parent = document.getElementById('container');
            for (index in indices) {
                let recipe = dataValue[index];

                let divEle = document.createElement('div');
                divEle.className = "col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-4 col-sm-offset-0 col-sm-12";
                // if( !recipe ) return;
                const _dt = new Date( recipe.createdOn );
                recipe.createdOn = `${ _dt.getFullYear() }.${ _dt.getMonth() + 1 }.${ _dt.getDate() }`;
                let content = `
                    <a href="/recipeCard/${ recipe.id}?createdBy=${ recipe.createdBy }" class="nounderline">
                        <div class="recipe-card">
                            <div class="recipe-img" style="background-image: url(${recipe.displayPicUrl})"></div>
                            <div class="text-block">
                                <h2 class="recipe-name"> ${recipe.name} </h2>
                                <span class="btn btn-warning recipe-type">${recipe.type}</span>
                                <span class="recipe-cultural-origin">${recipe.culturalOrigin}</span>
                                <p>Added by <strong>${recipe.createdBy}</strong> on ${recipe.createdOn}</p>
                                <p>${recipe.numUpvotes} people like this | ${ Object.keys( recipe.comments || {} ).length } comments</p>
                            </div>
                        </div>
                    </a>`;

                divEle.innerHTML = content;

                if ((index) % 3 == 0) {
                    let rowDivEle = document.createElement('div');
                    rowDivEle.className = "row margin-bottom-30";
                    rowDivEle.appendChild(divEle);
                    parent.appendChild(rowDivEle);
                } else {
                    let lastRow = parent.lastElementChild;
                    lastRow.appendChild(divEle);
                }
            }
        });
        // window.BACKEND_API.users.login( "janet@umich.edu", "abc@1234567" )
        // .then(function() {
        // });
    </script>
{% endblock %}