{% extends "_layout.html" %}

{% block content %}
<div class="container space-from-top">
    <h2 class="fb-user__username">...</h2>
    <p>Member since <span class="fb-user__createdOn">...</span></p>
    <p><a id="logoutBtn" href="#logout">Logout</a></p>
    <br />
    <br />
    <h3>My recipes</h3>
    <p><a href="/create">Create a recipe</a></p>
    <div id="recipes">Loading, please wait...</div>
</div>
{% endblock %}

{% block jsscript %}
<script type="text/javascript">
    window.setTimeout(function() {
        var currentUserEmail = window.BACKEND_API.users.getCurrentUserEmailFromSession();

        if( !currentUserEmail ) return;

        window.BACKEND_API.recipes.getRecipesByUserEmail( currentUserEmail )
            .then(function(recipes) {
                let $parent = $('#recipes').html( "" );

                if( !recipes.length ) {
                    $parent.html( "You haven't added any recipes yet." );
                }
                else {
                    for (let index = 0; index < recipes.length; index++) {
                        let recipe = recipes[index];
                        let divEle = document.createElement('div');
                        divEle.className = "col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-4 col-sm-offset-0 col-sm-12";
                        const _dt = new Date( recipe.createdOn );
                        recipe.createdOn = `${ _dt.getFullYear() }.${ _dt.getMonth() + 1 }.${ _dt.getDate() }`;
                        let content = `
                            <a href="/recipeCard/${ recipe.id}?createdBy=${ recipe.createdBy }" class="nounderline">
                                <div class="recipe-card">
                                    <div class="recipe-img" style="background-image: url(${recipe.displayPicUrl})"></div>
                                    <div class="text-block">
                                        <h2 class="recipe-name"> ${recipe.name} </h2>
                                        <span class="btn btn-warning recipe-type">${recipe.type}</span>
                                        <span class="recipe-cultural-origin">${recipe.culturalOrigin}</span>
                                        <p>Added by <strong>${recipe.createdBy}</strong> on ${recipe.createdOn}</p>
                                        <p>${recipe.numUpvotes} people like this | ${ Object.keys( recipe.comments || {} ).length } comments</p>
                                    </div>
                                </div>
                            </a>`;

                        divEle.innerHTML = content;

                        if ((index) % 3 == 0) {
                            let rowDivEle = $( "<div class='row margin-bottom-30' />" );
                            rowDivEle.append(divEle);
                            $parent.append(rowDivEle);
                        } else {
                            $parent.children().append(divEle);
                        }
                    }
                }
            });

        $( "#logoutBtn" ).on( "click", function( e ) {
            e.preventDefault();
            window.BACKEND_API.users.logout().then( function() {
                window.location.href = "/";
            })
        });
    }, 2000);
</script>
{% endblock %}
